
.ship-first-line{
    display: block;
    background-color: white;
    z-index: 1;
    width: 900px;
}

.ship-search-btn{
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
}

.ship-loading-spin-div{
    display: inline-block;
    margin-left: 120px;
    vertical-align: middle;
    position: absolute;
}

.ship-ant-pagination-div{
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
    margin-left: 10%;
}

.ship-text-switch-div{
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
    margin-right: 20px;
}

.ship-text-switch{
    margin-bottom: 2px;
    margin-left: 5px;
}
