
.ship-first-line{
    display: block;
    z-index: 1;
    width: 1300px;
}

.ship-search-btn{
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
}

.ship-deny-search{
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
}

.ship-ant-pagination-div{
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
    margin-left: 10%;
}

.ship-text-switch-div{
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
    margin-right: 20px;
}

.ship-text-switch{
    margin-bottom: 2px;
    margin-left: 5px;
}
