
.date-filter-cell-div-first-line{
    display: block;
    margin-bottom: 1px;
}

.date-filter-cell-div-first-line{
    display: block;
}

.start-date-picker{
    display: inline-block;
    margin-right: 1px;
}

.end-date-picker{
    display: inline-block;
    margin-right: 1px;
}

.date-filter-undo-btn{
    display: inline-block;
}

.date-filter-search-btn{
    display: inline-block;
}

.number-filter-cell-first-div{
    display: block;
    margin-bottom: 1px;
}

.number-filter-cell-second-div{
    display: block;
}

.input-min-value{
    display: inline-block;
    margin-right: 1px;
}

.input-max-value{
    display: inline-block;
    margin-right: 1px;
}

.number-filter-cell-search-btn{
    display: inline-block;
}

.number-filter-cell-undo-btn{
    display: inline-block;
}
